.messageChat {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    padding: 2%;
    margin: 1rem;
}

.messageChat-icon {
    display: flex;
    /* order:2; */
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 23%;
    width: 9%;
    border-radius: 1em;
}

.messageChat-content {
    display: flex;
    /* order:1; */
    flex: 1;
    flex-wrap: wrap;
}

.messageChat-name {
    background-color: cadetblue;
    margin: 1rem 1rem 0 0.5rem;
    width: 100%;
}

hr {
    width: 100%;
}

.messageChat-text{
    background-color: burlywood;
    margin: 0.25rem;
}