.message-container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2vh;
    margin: 2vh 1vh 1vh 1vh;
}
.messageChat {
    background-color: #ffffff;
    width:85%;
    display: flex;
    padding: 2%;
    /* margin: 2rem 1rem; */
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.message-icon {
    display: flex;
    /* order:2; */
    justify-content: center;
    align-items: center;
    color:#ffffff;
    background-color: #1D344C;
    border-radius: 2em;
    margin-top: 0.25vh;
    margin-left: 0.5vh;
    margin-right: 2vh;
    height: 5vh;
    width: 5vh;
}

.messageChat-content {
    display: flex;
    /* order:1; */
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}

.messageChat-name {
    margin: 0.5vh 0.25vh 0.5vh;
    width: 100%;
}

hr.line {
    margin: 0;
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.messageChat-text{
    word-wrap: break-word;
    width: 100%;
    margin: 2vh 0.25rem 0.5vh;
}