.admin-page {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    background-color: #E7E7E7;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-page {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
}

.form-container {
    flex-direction: column;
    display: flex;
    width: 30%;
    height: 90%;
    margin: 3vh;
    justify-content: center;
    align-items: center;
}

.label-role {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 2vh;
}

.contain-form {
    background-color:  rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px rgba(70, 31, 31, 0.098);
    border: 2px solid rgba(70, 31, 31, 0.098);
    min-width: 85%;
    min-height: 90%;
    padding: 2vh;
}

.champ-form {
    display: flex;
    justify-content: center;
}

.MuiInput-underline:before {
    color: #1D344C !important;
    border-color: #1D344C !important;
}

.Mui.FormLabel-root.Mui-focused {
    color: #1D344C !important;
}

.MuiFormControl-root {
    border: 0;
    margin: 15px 30px !important;
    display: inline-flex;
    padding: 0;    
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

div.div-button {
    display: flex !important;
    justify-content: center !important ;
    margin-top: 8vh;
}
label {
    color: #1D344C !important;
}

.MuiInputBase-input {
    color: #1D344C !important;
}